#login {
    width:600px;
    height:200px;
    margin:160 auto;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C9CACD;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}
#login li {
    list-style:none;
    clear:both;
    height:36px;
    padding-top:3px;
    line-height: 36px;
    font-size: 16px;
    padding-top:30px;
}
#login label{
    width:200px;
    float:left;
    cursor: pointer;
    text-align: right;
}
#login input{
    width:260px;
    height:30px;
}
input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.focused {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
.button {
    background: none repeat scroll 0 0 #1E95E5;
    border: 1px solid #147DCD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), 0 1px 0 rgba(255, 255, 255, 0.15) inset;
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    vertical-align: middle;
}
.disabled {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #BBBBBB;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}