<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/css/b.css" rel="stylesheet" type="text/css" />
<title>非物质文化遗产</title>
</head>

<body>
<div class="head"></div>
<div class="catebox">
    <div class="wp"><h3>华夏遗产</h3>
    <p class="back"><a href="/">首页</a></p></div>
    </div>
</div>
<div class="wp">
    <div class="newsdetail">
        <h2 class="title">中国非物质文化遗产保护基金会简介</h2>
        <div class="about-info">

<h3>非物质文化遗产的概念</h3>
<dl style=" padding:0 20px 30px 20px;">
    <dt>非物质文化遗产指各族人民世代相承的、与群众生活密切相关的各种传统文化表现形式和文化空间。
非物质文化遗产可以分为两类：</dt>
<dd>（1）传统的文化表现形式，如民俗活动、表演艺术、传统知识和技能等；</dd>
<dd>（2）文化空间，即定期举行传统文化活动或集中展现传统文化表现形式的场所，兼具空间性和时间性。</dd>
</dl>
  

<h3>关于基金会</h3>

<ul style=" padding:0 20px 30px 20px;">
<li>
<h4>1、 中国非物质文化遗产保护基金会创立背景</h4>
<p style="padding:0 26px 20px 26px;">在全球化和现代化进程日益加快的今天，有着悠久历史的中国非物质文化遗产该如何保护和传承，越来越成为各界和传承人深切关注的问题，中国非物质文化遗产伴随着我们走过了漫长的时光，成为我们精神家园中不可忘怀的文化记忆。但在今天，中国非物质文化遗产的保护和传承正面临着越来越多的困难和问题，中国政府已经为非物质文化遗产的保护做了大量的工作，而民间机构的介入，正是作为一种后备和补充的机制，中国非物质文化遗产保护基金会正是在这样的背景下成立的。作为一个民间机构，利用民间资本的力量，为来自民间的中国非物质文化遗产的保护和传承工作，注入新思维方式、新运营模式、新的保护和发展方向。</p></li>
<li>
<h4>2、 中国非物质文化遗产保护基金会创立宗旨</h4>
<p style="padding:0 26px 20px 26px;">中国非物质文化遗产保护基金会的创立，旨在保护、传承、推广、发展中国传统文化艺术，与一些有社会使命感、责任感的中国非物质文化遗产（以下简称"非遗"）传承人合作，致力于非遗传承脉络的保护；非遗传承技艺的保护；非遗核心艺术价值的保护。让社会各界有识之士重新认识、了解、关注中国非遗文化，呼吁更多的人投入到中国非遗文化的保护工作中来。</p></li>
<li><h4>3、 中国非物质文化遗产保护基金会运营平台</h4>
<p style="padding:0 26px 20px 26px;">由于上海国际化大都市的地位，基金会和上海大剧院画廊合作，在上海市黄陂北路232号设立了自有展示平台；基金会与上海游艇会、上海农行私人银行等上海诸多高端会所建立了长期合作平台；在浦东新区东绣路999弄8号建立了后台支持机构。</p></li>
<li><h4>4、 中国非物质文化遗产保护基金会运营平台的优势资源</h4>
<div style="padding:0 26px 20px 26px;">
<h5>*学术资源优势</h5>
<p>基金会和非遗研究机构、非遗研究学者有着长期、稳定的联系，能够为非遗项目的保护、传承工作提供有力的技术保证。</p>
<h5>*社会关系资源优势</h5>
<p>基金会的发起人和管理者有着广泛的社会人脉资源，为平台的运营模式和非遗项目的推广渠道提供有效、畅通的保证。</p>
<h5>*地理位置资源优势</h5>
<p>上海大剧院画廊坐落于一幢老建筑内，其前身是上海跑马厅马会俱乐部，该建筑本身就极具艺术美感和历史意义；同时，画廊又地处上海最繁华的商业闹市区，紧邻上海美术馆、上海大剧院、上海博物馆、南京西路，地理条件优越，文化氛围浓厚，为平台的运营提供了优越的先天条件。</p></div></li>
<li><h4>5、 中国非物质文化遗产保护基金会运营品牌</h4>
<p style="padding:0 26px 20px 26px;">"凤歌堂"是非遗基金会的运营品牌。运营平台上的所有艺术品都将由"凤歌堂"平台包装推出，部分艺术品会有"凤歌堂"的品牌标识。</p></li>
<li><h4>6、 中国非物质文化遗产保护基金会运营品牌推广的目的</h4>
<p style="padding:0 26px 20px 26px;">以"凤歌堂"品牌，推出该"中国非物质文化遗产保护基金会"运营机构，让中国非遗的保护理念得到普及，用品牌的影响力达到非遗项目保护的目的；将非遗文化和非遗艺术通过"凤歌堂"品牌得到社会普遍层面的认同，和传承大师合作，打造这个时代可以传世的艺术精品，并获得高端收藏品市场的认可。</p></li>
</ul>

<h3>中国非物质文化遗产保护基金会项目</h3>
<ol style=" padding:0 20px 30px 20px;">
<li>一、    传统服饰收藏保护</li>
<li>二、    织绣收藏保护</li>
<li>三、    明清家具收藏保护</li>
<li>四、    民居保护</li>
<li>五、    竹木牙角雕刻收藏保护</li>
<li>六、    其他国家级非遗手工项目保护</li>
</ol>

<h3>联系我们</h3>
<div class="clearfix">
<div class="address">
<h4>办公地址</h4>
<a href="http://ditu.google.cn/maps?hl=zh-CN&newwindow=1&safe=strict&bav=on.2,or.r_gc.r_pw.&biw=1280&bih=636&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%9C%E7%BB%A3%E8%B7%AF999%E5%BC%848%E5%8F%B7%E6%A5%BC1%E6%A5%BC&um=1&ie=UTF-8&hq=&hnear=0x35b270acd825530b:0x8c17c8607166d568,%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%9C%E7%BB%A3%E8%B7%AF999%E5%8F%B7&sa=X&ei=iphFUNTjN6SYiAfCuoHICg&ved=0CCEQ8gEwAA"><img src="/images/map-1.jpg"></a>

上海市浦东新区东绣路999弄8号楼1楼<br />
1st Floor，No.8， Lane 999，Dongxiu Road，Pudong New Area，Shanghai<br />
Tel：（021）5106 1200<br />
Fax：（021）5106 1200<br />
Email：Fenggetang@live.com</div>

<div class="address"><h4>展厅地址</h4>
<a href="http://ditu.google.cn/maps?hl=zh-CN&newwindow=1&safe=strict&bav=on.2,or.r_gc.r_pw.&biw=1280&bih=636&q=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%9C%E7%BB%A3%E8%B7%AF999%E5%BC%848%E5%8F%B7%E6%A5%BC1%E6%A5%BC&um=1&ie=UTF-8&hq=&hnear=0x35b270acd825530b:0x8c17c8607166d568,%E4%B8%AD%E5%9B%BD%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%B5%A6%E4%B8%9C%E6%96%B0%E5%8C%BA%E4%B8%9C%E7%BB%A3%E8%B7%AF999%E5%8F%B7&sa=X&ei=iphFUNTjN6SYiAfCuoHICg&ved=0CCEQ8gEwAA"><img src="/images/map-2.jpg"></a>
上海大剧院画廊 上海市黄浦区黄陂北路232号<br />
No.232, North Huangpi Road, Huangpu District, Shanghai</div></div></div>

        </div>
    </div>
</div>
</body>
</html>

