/* CSS Document */
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
fieldset, img {border:0;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul {list-style:none;}   
address, caption, cite, code, dfn, em, th, var {font-weight:normal;font-style:normal;}   
caption, th {text-align:left;}   
h1, h2, h3, h4, h5, h6 {font-size:100%;}   
q:before, q:after {content:'';}  
ins{ text-decoration:none;}

.clearfix { *zoom:1}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clear{ clear:both}

a{blr:expression(this.onFocus=this.blur());} 
a:focus { -moz-outline-style: none; } 

a,area { blr:expression(this.onFocus=this.blur()) }
*:focus { outline: none; }

.overflow-hidden{ overflow:hidden}

.hide{ display:none}
.mt30{ margin-top:30px;}
.mb40{ margin-bottom:40px;}
.mb20{ margin-bottom:20px;}
.mr10{ margin-right:10px;}
.ml30{ margin-left:30px;}
.txt-l{ text-align:left !important}
.txt-r{ text-align:right !important}
.txt-c{ text-align:center !important}
.fl{ float:left}


body{ background:url(../images/bg.jpg)}
body.index{ background:#FFF; background:#fff url(../images/index-bg.jpg) repeat-x;}
.wp{ width:1000px; margin:auto}
.head{ background:url(../images/header.jpg); height:83px;}
.catebox{ height:80px; border-bottom:3px solid #000000; background:#e5e5e5; overflow:hidden}
.catebox h3{ float:left; font-size:28px; font-family:"微软雅黑"; font-weight:normal; margin:20px 40px 0 0}
.catebox ul{ margin:30px 0 0 0; float:left}
.catebox li{ float:left; font-size:12px; font-family:simsun; color:#333; font-weight:bold; margin-right:40px;}
.catebox li a{ color:#333; text-decoration:none;width:90px; height:22px; line-height:22px; display:inline-block; text-align:center}
.catebox li a.current{ background:url(../images/catemenu-bg.jpg); color:#FFF }

.col-1,.col-2,.col-3,.col-4{ float:left; width:232px; margin-right:13px;}
.prolist{ padding:13px 0 0 0}
.prolist li{ border:1px solid #dad6d7; background:#FFF; padding:10px 14px; margin-bottom:13px;}
.prolist li img{ margin-bottom:10px;}
.prolist li p{ color:#666; font-size:12px; line-height:18px;}
.prolist li p.numbox{ border-top:1px dotted #CCC; padding:5px 0 0 0; margin:5px 0 0 ; color:#999}

.detail{border:1px solid #dad6d7; margin:13px auto 0 auto; padding:15px;}
.detail-img{ float:left; margin-right:13px;}
.pro-detail-r{ float:left; width:215px;}
.pro-detail-r strong { color:#999}
.pro-detail-r p{ margin-bottom:10px;}
.pro-detail-r div.txt{ font-size:12px; line-height:20px;}

.pro-name{ height:30px; line-height:30px; border-bottom:1px solid #CCC; margin-bottom:13px; font-size:16px; padding:0 0 0 10px;}

.main{ background:url(../images/index.jpg); height:1076px; position:relative}

.menu-1{ width:140px; height:140px;position:absolute; left:82px; top:155px;}
.menu-1 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.menu-2{ width:140px; height:140px;position:absolute; left:428px; top:75px;}
.menu-2 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.menu-3{ width:140px; height:140px;position:absolute; left:588px; top:103px;}
.menu-3 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}
