/* CSS Document */
/* 重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding:0;margin:0;}   
fieldset, img {border:0;}   
table{border-collapse:collapse;border-spacing:0;}   
ol, ul {list-style:none;}   
address, caption, cite, code, dfn, em, th, var {font-weight:normal;font-style:normal;}   
caption, th {text-align:left;}   
h1, h2, h3, h4, h5, h6 {font-size:100%;}   
q:before, q:after {content:'';}  
ins{ text-decoration:none;}

.clearfix { *zoom:1}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clear{ clear:both}

a{blr:expression(this.onFocus=this.blur());} 
a:focus { -moz-outline-style: none; } 

a,area { blr:expression(this.onFocus=this.blur()) }
*:focus { outline: none; }

.overflow-hidden{ overflow:hidden}

.hide{ display:none}
.mt30{ margin-top:30px;}
.mb40{ margin-bottom:40px;}
.mb20{ margin-bottom:20px;}
.mr10{ margin-right:10px;}
.ml30{ margin-left:30px;}
.txt-l{ text-align:left !important}
.txt-r{ text-align:right !important}
.txt-c{ text-align:center !important}
.fl{ float:left}


body{ background:url(../images/bg.jpg)}
body.index{ background:#FFF; background:#fff url(../images/index-bg.jpg) repeat-x;}
.wp{ width:1000px; margin:auto}
.head{ background:url(../images/header.jpg); height:83px;}
.catebox{ height:80px; border-bottom:3px solid #000000; background:#e5e5e5; overflow:hidden}
.catebox h3{ float:left; font-size:28px; font-family:"微软雅黑"; font-weight:normal; margin:20px 40px 0 0}
.catebox ul{ margin:30px 0 0 0; float:left}
.catebox li{ float:left; font-size:12px; font-family:simsun; color:#333; font-weight:bold; margin-right:40px;}
.catebox li a{ color:#333; text-decoration:none;width:90px; height:22px; line-height:22px; display:inline-block; text-align:center}
.catebox li a.current{ background:url(../images/catemenu-bg.jpg); color:#FFF }

.col-1,.col-2,.col-3,.col-4{ float:left; width:232px; margin-right:13px;}
.prolist{ padding:13px 0 0 0}
.prolist li{ border:1px solid #dad6d7; background:#FFF; padding:10px 14px; margin-bottom:13px;}
.prolist li img{ margin-bottom:10px;}
.prolist li p{ color:#666; font-size:12px; line-height:18px;}
.prolist li p.numbox{ border-top:1px dotted #CCC; padding:5px 0 0 0; margin:5px 0 0 ; color:#999}

.detail{border:1px solid #dad6d7; margin:13px auto 0 auto; padding:15px;}
.detail-img{ float:left; margin-right:13px; width:738px; overflow:hidden; text-align:center}
.pro-detail-r{ float:left; width:215px;}
.pro-detail-r strong { color:#999}
.pro-detail-r p{ margin-bottom:10px;}
.pro-detail-r div.txt{ font-size:12px; line-height:20px;}

.pro-name{ height:30px; line-height:30px; border-bottom:1px solid #CCC; margin-bottom:13px; font-size:16px; padding:0 0 0 10px;}

.main{ background:url(../images/index.jpg); height:1076px; position:relative}

.menu-1{ width:140px; height:140px;position:absolute; left:82px; top:155px;}
.menu-1 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.menu-2{ width:140px; height:140px;position:absolute; left:428px; top:75px;}
.menu-2 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.menu-3{ width:140px; height:140px;position:absolute; left:588px; top:103px;}
.menu-3 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.menu-4{
	width:140px;
	height:140px;
	position:absolute;
	left:15px;
	top:432px;
}
.menu-4 a{ width:40px; height:40px; position:absolute; left:48px ; top:52px;}

.indexfooter{ position:absolute; width:1000px; text-align:center; top:960px; font-size:12px; color:#999; line-height:20px;}

.back{ float:right; color:#CCC; margin:50px 20px 0 0 } 
.back a{ color:#666; font-size:12px; text-decoration:none}

.newslist{border:1px solid #dad6d7; margin:13px auto 0 auto;min-height:500px;_height:500px; padding:30px 0px;}
.newslist li{ font-size:14px; line-height:18px; margin:0 0 15px 25px; width:220px; float:left}
.newslist li img{ width:220px; margin-bottom:5px;}
.newslist li span{ font-size:12px; color:#999}
.newslist li a{ color:#333; text-decoration:none;font-size:12px;}
.newslist li a:hover{ color:#ff9900}

.huodonglist {border:1px solid #dad6d7; margin:13px auto 0 auto;min-height:500px;_height:500px; padding:30px 0px;}
.huodonglist li{ border-bottom:1px dotted #ccc; padding:20px; margin:20px; clear:both; overflow:hidden}
.huodonglist li img{ float:left; height:250px; width:200px; margin-right:20px;}
.huodonglist li  a.tt{ font-size:16px; font-weight:bold; font-family:"微软雅黑"; color:#333; text-decoration:none;}
.huodonglist li p{ font-size:14px; margin:20px 0 0 0; color:#666}
.huodonglist li dl{ color:#999; line-height:18px; padding:20px 0 0 0}
.huodonglist li dl dt{ color:#666; font-weight:bold; margin-bottom:10px;}
.huodonglist li dl dd{ font-size:12px;}
.view{ color:#06C; font-size:12px; margin:20px 0 0 0; display:inline-block }

.page{ text-align:right; padding:0 15px 0 0; font-size:12px; font-family:Arial, Helvetica, sans-serif}
.page a{ width:18px; height:18px; display:inline-block; margin-right:4px; border:1px solid #CCC; text-align:center; line-height:18px; color:#999; text-decoration:none; overflow:hidden}
.page a:hover{ background:#CCC}

.newsdetail{}
.newsdetail h2.title{ font-size:16px; line-height:40px; border-bottom:1px dotted #CCC; text-align:center; margin-bottom:20px;}
.news-info{ line-height:24px; padding:0 20px; font-size:14px; }


.about-info{ line-height:24px; padding:0 20px 40px 20px; font-size:14px; color:#666}
.about-info h3{ font-size:14px; margin-bottom:10px; color:#333}
.about-info h4{ color:#333}
.about-info h5{ color:#333}

.address{ width:400px; float:left; padding:15px 30px; border:1px solid #CCC; margin-right:10px; height:450px; overflow:hidden}
.address h4{ margin-bottom:10px;}