@charset "utf-8";
/* CSS Document */
.red{color:#ff0000;}
.green{color:#009900;}

.order a{color:#2E659E;}
.order a:hover{color:#ff6600;}
.order h3{font-size:12px;margin:15px 0px 0px 10px;font-weight:normal;color:#666;}
.order h3 b{font-size:14px;background:url(../images/title_ico.png) 0px 3px no-repeat;padding-left:18px;font-weight:bold;margin-right:5px;}

.order_box{margin:10px 10px 0 10px;border:1px #D7D7D7 solid;padding:10px 10px 0 10px; overflow:hidden;}
.order_box h4{font-size:12px;margin:5px 0px 10px 20px;}
.order_box2{margin:10px;border:1px #D7D7D7 solid;padding:20px; overflow:hidden;}
.info_search{width:800px; _width:700px; overflow:hidden;}
.info_search li{width:200px;height:30px;line-heihgt:30px; padding-bottom:5px;float:left;}
.info_search li.w280{width:280px}
.info_search li.w_auto{width:auto}
.info_search li label{display:inline-block;width:80px;text-align:right;}
.info_search li label.wltit{ width:100px;}
.info_search li .w100{width:100px;border:1px #809DB9 solid;height:18px;line-height:18px;vertical-align:middle;}
.info_search li .ml20{margin-left:20px;}
.auto_search {width:auto;}
.order_search{width:62px;height:26px; padding-bottom:2px; padding:0\9; cursor:pointer;font-size:12px;font-weight:bold;color:#fff;background:url(../images/search_btn.png);border:0px;vertical-align:middle;}
.order_search:hover{
	background:url(../images/search_btn.png) -83px 0;}

.line{padding:15px 0px;margin:15px 0px 20px 0px;border-bottom:1px #D7D7D7 solid;border-top:1px #D7D7D7 solid; width:100%; overflow:hidden;}
.no_linet{
	padding-top:10px;
	border-top:none;}
.order_tb{width:100%;}
.order_tb th{background:#E4F1F8;text-align:center;padding:4px;}
.order_tb td{text-align:center;padding:10px 4px;vertical-align:middle;line-height:20px;color:#666;}
.order_tb tr.t_bg td{background:#F1F1F1;}
.order_box .page_box{height:20px;padding-bottom:5px;}
.order_box .page_box .f_666{float:left;color:#666;}
.order_box .page_box .page{float:right;}

.input_bg{height:31px;padding-top:10px;background:url(../images/del_bg.png) repeat-x;margin-top:-15px;}
.input_bg2{margin-left:50px;}
.input_add,.input_del,.input_up,.input_down,.input_opt,.input_inv,.input_add2,.input_del2,.input_opt2,.input_inv2{height:20px;line-height:20px;background:url(../images/del_btn.png) no-repeat;border:0px;text-align:left;text-indent:15px;text-indent:10px\9;*text-indent:17px;color:#666;margin:0px 5px; cursor:pointer}
.input_add{width:50px;background-position:0px 0px;}
.input_del{width:50px;background-position:0px -25px;}
.input_opt{width:73px;background-position:0px -50px;}
.input_inv{width:73px;background-position:0px -76px;}
.input_add2{width:50px;background-position:0px -102px;}
.input_del2{width:50px;background-position:0px -128px;}
.input_opt2{width:73px;background-position:0px -154px;}
.input_inv2{width:73px;background-position:0px -180px;}
.input_up{width:50px; background-position:0 -205px;}
.input_up2{width:50px; background-position:0 -230px;}
.input_down{width:50px; background-position:0 -255px;}
.input_down2{width:50px; background-position:0 -280px;}

.order_num{height:25px;margin:20px 0px;line-height:25px;background:#F1F1F1;color:#333;}
.order_num span{width:70px;display:inline-block;height:25px;line-height:25px;text-align:center;color:#fff;font-weight:bold;background:#8EB1C4;margin-right:20px;}
.order_nb{padding:0px 0px 0px 90px;}
.order_nb p{padding-bottom:10px;}
a.down_btn{background:url(../images/down_btn.png) no-repeat;padding-left:20px;height:23px;line-height:23px;display:inline-block;text-decoration:none;}
a.down_btn span{padding-right:20px;color:#666;background:url(../images/down_btn.png) right 0px no-repeat;height:23px;line-height:23px;display:inline-block;}
a.down_btn span:hover{color:#ff3300;}
.down_ico{background:url(../images/down_ico.png) no-repeat;padding-left:20px;text-decoration:underline;margin-right:10px;}
.down_info{border:1px #D2D2D2 solid;width:640px;_width:616px;height:140px;overflow:auto;margin-bottom:10px;padding:5px 10px;}
.down_info table{width:96%;}
.down_info table td{padding:5px 3px;text-align:left;color:#666;}
.down_info table td.w300{width:270px;}

.cue_ok,.cue_error{height:46px;line-height:46px;border:1px #C6E0EE solid;background:url(../images/cue.png) no-repeat;background-color:#F0F8FB;padding-left:70px;margin:10px;}
.cue_ok{background-position:18px 10px;}
.cue_error{background-position:18px -160px;}

.site_info{margin:10px;}
ul.site_menu{height:29px;margin-left:1px;}
ul.site_menu li{float:left;width:85px;height:25px;line-height:25px;background:url(../images/site_menu.png) -87px -4px no-repeat;text-align:center;color:#666;position:relativel;margin-left:-1px;margin-top:4px;cursor:pointer;}
ul.site_menu li.m_on{color:#2E659E;font-weight:bold;height:29px;line-height:29px;background-position:0px 0px;margin-top:0px;}
.site_box{border:1px #C9D7E2 solid;padding:20px;}

.site_basic{width:600px; overflow:hidden;}
.site_wl,.site_wdt{ width:800px;_width:700px; overflow:hidden;}
.site_basic dt{width:90px;float:left;height:20px;line-height:20px;text-align:right;padding:10px 0px;}
.site_wl dt{
	width:120px;}
.site_wdt dt{
	width:180px;}
.site_basic dd{float:left;width:510px;height:20px;line-height:20px;color:#999;padding:10px 0px;}
.site_wl dd{
	width:680px;
	_width:580px;}
.site_wdt dd{
	width:620px;
	_width:520px;}
.f_333{
	color:#333;}
.site_basic dd.t_area{
	height:auto;}
.site_basic dd.t_area li{
	padding-bottom:10px;
	}
.site_basic dd.t_area textarea{
	width:508px;
	height:80px;
	font-size:12px;
	border:1px solid #ccc;}

.site_basic .text_250{width:250px;border:1px #ccc solid;height:14px;line-height:14px;padding:3px;margin-right:10px;}
.sub_btn,.sub_btn_g{ margin-right:6px;width:80px;height:28px;background:#3895c7 url(../images/sub_btn.png)  no-repeat; cursor:pointer; border:0px;font-weight:bold;font-size:14px;color:#fff;}
.sub_btn_g{background:#f1f1f1 url(../images/sub_btn.png)  no-repeat 0 -29px; color:#666;}
.sub_btn:hover{
	background-position:-81px 0;}
.sub_btn_g:hover{
	background-position:-81px -29px;}
/*detail*/
.detbtn{
	border-bottom:1px solid #e1e1e1;
	padding-bottom:10px;
	overflow:hidden;
	}
.normalbtn,
.order_box h5{
	background:url(../images/detail.png);}
.normalbtn{
	height:21px;
	color:#666;
	cursor:pointer;
	margin-right:6px;
	border:1px solid #ccc}
.normalbtn:hover{
	background-position:0 -20px;
	border:1px solid #87cff1;}

.order_det{
	padding:10px;
	}
.order_det h4{ margin-left:0;}
.order_det h4 span{ float:right; font-weight:normal; *margin-top:-15px;}
.order_det li{
	line-height:20px;
	}
.order_det p{
	padding:10px 0 5px 0}
.area_ie6{
	width:100%;
	_width:99%;
	border:1px solid #d2d2d2;
	overflow:hidden;}
.order_det textarea{
	width:100%;
	height:80px;
	border:none 0;
	*position:relative;
	*left:-10px;
	overflow-x:hidden;}
.order_box h5{
	text-indent:14px;
	margin-top:30px;
	color:#666;
	background-position:5px -50px;
	background-repeat:no-repeat;
	}
.order_box h5 a{
	margin-left:10px;
	font-weight:normal;
}
.order_box .infotable,.order_box .protable{
	border:1px solid #e3e3e3;
	margin-top:10px;
	border-bottom:none;
	width:100%;}
.infotable td{
	height:35px;
	padding-left:20px;
	color:#666;
	width:18%;
	vertical-align:middle;
	border-bottom:1px solid #e3e3e3}
.infotable td.t_title{
	text-align:right;
	background:#f6f6f6;
	width:90px;
	}
.order_notice{
	color:#999;
	padding-top:10px;
	display:inline-block;}
.order_box .protable th,.order_box .protable td{
	text-align:center;
	width:auto;
	border-right:1px solid #e3e3e3;}
.order_box .protable th{
	background:#f6f6f6;
	height:35px;
	line-height:35px;
	padding-left:20px;
	border-bottom:1px solid #e3e3e3;
	}
.infotable td.nobgc{
	background:none}
.btnbox{
	margin-top:10px;}
input.w_130{
	margin-right:20px;
	width:110px;}
/* game name */
p.jstitle{
	width:100%;
	height:25px;
	font-weight:bold;
	margin-top:30px;
	line-height:25px;
	}
p.gamename{
	background:#f1f1f1;
	width:100%;
	height:25px;
	line-height:25px;
	text-indent:20px;
	color:#666;
	font-weight:bold;
	margin:10px 0;
	}
input.w50,select.w50{
	width:50px;
	border:1px solid #ccc;
	  height: 14px;
    line-height: 14px;
    margin-right: 10px;
    padding: 3px;}
input.w100{
	width:100px;}
.f_666{
	color:#666;}
.editbox{
	width:678px;
	overflow:hidden;
	height:200px;
	min-height:200px;
	border:1px solid #ccc;}
.treebox{
	width:99%;
	margin-bottom:10px;
	border:1px solid #ccc;
	overflow-x:hidden;
	height:400px;}
.tbtnbox{
	padding-bottom:10px;}

/* shop back */
.shop_s{
	width:100%}
.shop_s li.li_btn{
	width:auto;
}
.shop_s li.li_btn input{
	margin-right:8px;}
.shop_export,.shop_batchpro{width:62px;height:26px; padding-bottom:2px; padding:0\9; cursor:pointer;font-size:12px;font-weight:bold;color:#666;background:url(../images/search_btn.png) 0 -27px;border:0px;vertical-align:middle;}
.shop_export:hover{
	background:url(../images/search_btn.png) -83px -27px;}
.shop_batchpro:hover{
	background:url(../images/search_btn.png) -83px -55px;}
.shop_batchpro{
	width:82px;
	background-position:0 -55px;}
.mr10{
	margin-right:10px;}
.pa20{
	padding:0 20px;}
.site_basic dd.worktime{
	height:auto;
	}
.worktime dl{
	width:300px;
	padding:20px 0;
	background:#f3f3f3;
	overflow:hidden;
}
.worktime dl dt{
	width:80px;
	float:left;
	margin-right:5px;
	text-align:right;}
.worktime dl dd{
	float:left;
	width:215px;}
